/* 
    Created on : 2017-11-05, 17:05:15
    Author     : Joel
*/

.avatar{
    height: 70px;
    width: 75px;
    border: 1px solid;
    padding: 5px;
    color: black;
    box-shadow: 0 0 8px 3px black;
    background-color: rgb(255, 255, 255);
}

.navbar a {
  padding: 10px 15px;
}

.table td a {
  padding: 0px 5px;
}

/* GestionLectures */
#lectures table {
  width: 100%;
}

#lectures table thead {
  font-size:19px;
}

#lectures table thead tr :last-child {
  text-align:center;
}

#lectures table tbody tr {
  line-height: 3.25;
}

#lectures table tbody tr:hover {
  background-color:rgba(0,0,0,0.1);
}

#lectures table td.actions {
  text-align:center;
}

#lectures .searchArea {
  text-align:center;
}

.filter {
  padding: 10px 0;
}
